.header {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background: rgba(1, 17, 38, 0.75);
  background-size: cover;
  padding: 1.6rem;
  box-sizing: border-box;

  .rectangulo {
    width: 250px;
    height: 60px;
    background: lightgray;
  }
}

@media (max-width: 768px) {
  .header {
    height: 150px;
    justify-content: center;

    .rectangulo {
      width: 200px;
      height: 50px;
    }
  }
}